.TabelaElm{
    background-color: var(--var-content);
    width: 100%;
    min-height: 10vh;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    margin-bottom: 10px;
    display: grid;
    grid-template-columns: 1fr 3fr;
    box-sizing: border-box;
    padding: 14px;
}

.numer{
    grid-column: 1;
    grid-row: 1/2;
    font-size: 51px;
}
.tekst{
    grid-column: 2;
    grid-row: 1;
    justify-self: start;
    align-self: start;
    font-size: 36px;

}
.autor{
    grid-column: 2;
    grid-row: 2;
    justify-self: end;
    align-self: end;
    font-size: 27px;
}