

.container{
    display: grid;
    grid-template-columns: auto 1fr auto;
    width: 100%;
    padding-top: 2vh;

}
.row{
    grid-column: 2;
    grid-row: 1;
    align-self: center;
    justify-self: center;
    width: 80%;
}
.jumbotorn{
    height: 67vh;
}
.leadText{
    font-size: 50px;
    margin-bottom: 0;

}
.kosz{
    background-color: pink;
    width: 100%;
    height: 17vh;
    margin-top: 32px;
    text-align: center;
    vertical-align: middle;
    padding: 30px;
    box-sizing: border-box;
}
.koszTekst{
    font-size: 30px;
}
