.container {
  display: grid;
  grid-template-columns: auto 1fr auto;
  width: 100%;
  padding-top: 2vh;
}
.row {
  grid-column: 2;
  grid-row: 1;
  align-self: center;
  justify-self: center;
  width: 45%;
}
.content{
  margin-top: 10vh;
  height: 70vh;
  border: 1px solid pink;
  background-color: var(--var-content);
}