.Toolbar{
    position: fixed;
    top: 0;
    left: 0;
    height: 5vh; 
    width: 100%;
    background-color: var(--var-czern);
    box-sizing: border-box;
    padding: 10px;
    z-index: 500;
    display: flex;
    align-items: center;


}
.Toolbar span{
    font-size: 25px;
    color: var(--var-tekst);
}
.Nawigacja{
    flex-grow: 1;
    display: flex;
}
.Tytul{
    flex-grow: 36;
}