.Button{
    font-size: 20px;
    font-family: inherit;
    text-align: center;
    vertical-align: middle;
    outline: none;
    border: none;
    user-select: none;
    transition: all .3s ease-out;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.225);
    white-space: nowrap;
    user-select: none;
    color: var(--var-czern)
}
.Button:hover{
    text-decoration: none; 
    box-shadow: 0 4px 10px 0px rgba(0,0,0,0.225);
}