.Navigation{
    flex-grow: 1;
}

.Navigation a{
    color: var(--var-tekst);
    text-decoration: none;
    box-sizing: border-box;
    display: block;
    width: 100%;
}

.Navigation a.active{
    color: var(--var-zloty);
    text-decoration: none;

}
.Tytul{
    font-size: 25px;
}