input {
  background: transparent;
  border: none;
  display: block;
  border-bottom: 1px solid var(--var-czern);
  font-size: 36px;
  width: 100%;
  color: var(--var-tekst);

  padding: 10px 10px 10px 5px;
  box-sizing: border-box;
}
input:focus {
  outline: none;
}

.group {
  position: relative;
  flex-basis: 100%;
}
label {
  color: var(--var-szary);
  font-size: 36px;
  font-weight: normal;
  position: absolute;
  pointer-events: none;
  left: 5px;
  top: 10px;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}
input:focus ~ label,
input:valid ~ label {
  top: -20px;
  font-size: 20px;
  color: var(--var-zloty);
}
.bar {
  position: relative;
  display: block;
  width: 100%;
}
.bar:before,
.bar:after {
  content: '';
  height: 2px;
  width: 0;
  bottom: 1px;
  position: absolute;
  background-color: rgb(245, 137, 5);
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}
.bar:before {
  left: 50%;
}
.bar:after {
  right: 50%;
}
input:focus ~ .bar:before,
input:focus ~ .bar:after {
  width: 50%;
}
