@import url('https://fonts.googleapis.com/css?family=Roboto');

body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  background-color: var(--var-tlo);
}
:root{
    
    --var-content: #897cae;
    --var-tlo: #72639f;
    --var-tekst: #f7f6f9;
    --var-czern: #393250;
    --var-tekst-czern:#020203;
    --var-zloty: rgb(245, 137, 5);
    --var-szary: #9e9e9e;
}

.container{
  display: grid;
  grid-template-columns: auto 1fr auto;
  width: 100%;
  padding-top: 2vh;

}
.row{
  grid-column: 2;
  grid-row: 1;
  align-self: center;
  justify-self: center;
  width: 80%;
}