.Lista {
  width: 100%;
  background-color: var(--var-tlo);
  z-index: 100;
  list-style: none;
  padding: 0;
  margin: 0;
  left: 0;
}
.Lista li {
  margin: 0;
  height: 7vh;
  text-align: center;
  font-size: 30px;
  padding: 16px;
  border-bottom: 1px solid var(--var-tekst);
}
.Granice {
  position: relative;
  margin-bottom: 18px;
}
.group {
  position: relative;
  flex-basis: 100%;
}
.bundle {
  display: flex;
  width: 100%;
}
